.inspiration-house-card-container {
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 0.667rem;
  display: flex;
  flex-direction: column;
  gap: 0.667rem;
}

.inspiration-house-card-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inspiration-house-picture {
  width: 230px;
  height: 265px;
}

.inspiration-house-title,
.inspiration-house-distance,
.inspiration-house-duration {
  font-weight: 400;
  font-size: 11px;
  color: #434343;
}

.inspiration-house-price {
  font-weight: 500;
  font-size: 11px;
  color: #434343;
}

.rating {
  align-self: flex-start;
}
