.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 5rem;
  margin-bottom: 4rem;
}

.header-logo-container {
  width: 30%;
}

.header-logo {
  cursor: pointer;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.hamburger {
  display: none;
}

.hide {
  display: none;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.hamburgerNavbar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

:is(.navbar, .hamburgerNavbar) > li,
.place-to-stay {
  list-style: none;
  color: #434343;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}

.home,
.place-to-stay {
  text-decoration: none;
}

.header-btn {
  font-family: "Red Rose", cursive;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  border: 1px solid #a02279;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .menu {
    align-self: flex-start;
    width: 100%;
  }

  .navbar {
    display: none;
  }

  .hamburger {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  :is(.navbar, .hamburgerNavbar) > li {
    font-size: 16px;
  }

  .home,
  .place-to-stay {
    font-size: 16px;
  }

  .header-btn {
    font-size: 10px;
    width: 8rem;
  }
}

@media (min-width: 768px) and (max-width: 880px) {
  .header {
    margin-bottom: 2rem;
  }

  .header-logo-container {
    width: 45%;
  }

  .menu {
    width: 55%;
  }

  .navbar {
    display: none;
  }

  .hamburger {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .header-btn {
    font-size: 14px;
    width: 10rem;
  }
}

@media (min-width: 880px) and (max-width: 1120px) {
  .header {
    margin-bottom: 2rem;
  }

  .header-logo-container {
    width: 45%;
  }

  .menu {
    width: 55%;
  }

  .navbar {
    display: none;
  }

  .hamburger {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
