.hero {
  padding: 2rem 5rem;
  width: 100%;
  display: flex;
  gap: 5rem;
}

.hero-text {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2.5rem;
}

.hero-text-title {
  color: #434343;
  font-weight: 500;
  font-size: 45px;
  width: 520px;
}

.purple {
  background: linear-gradient(
    180deg,
    #a02279 79.31%,
    rgba(255, 192, 137, 0.6) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-text-description {
  color: #434343;
  font-weight: 400;
  font-size: 20.3px;
  width: 538px;
}

.hero-search {
  width: 100%;
}

.search-input {
  width: 60%;
  font-family: "Red Rose", cursive;
  background-color: rgba(247, 247, 247, 0.1);
  border: 1px solid #a3a3a3;
  border-radius: 8px 0px 0px 8px;
  padding: 0.5rem;
  font-weight: 400;
  font-size: 16px;
  outline: none;
}

.search-input::placeholder {
  color: #b8b8b8;
  font-weight: 400;
  font-size: 14px;
}

.search-btn {
  width: 30%;
  font-family: "Red Rose", cursive;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
  padding: 0.5rem 2rem;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
}

.hero-image {
  width: 35%;
  cursor: pointer;
}

.community-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  padding: 0.5rem 6rem;
  margin: 1rem 0;
}

.logo {
  width: 10rem;
  cursor: pointer;
}

.inspiration {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inspiration-title {
  color: #000000;
  font-weight: 500;
  font-size: 35px;
  text-align: center;
}

.inspiration-house-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.nfts {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border: 1px solid #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4.2rem;
}

.nfts > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  width: 40%;
}

.nfts-title {
  font-weight: 500;
  font-size: 48px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nfts-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nfts-btn {
  font-family: "Red Rose", cursive;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  color: #a02279;
  padding: 0.5rem 1.5rem;
  outline: none;
  cursor: pointer;
}

.nfts-image {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .hero {
    padding: 1rem 3rem;
    flex-direction: column;
  }

  .hero-text {
    width: 100%;
  }

  .hero-text-title {
    font-size: 30px;
    width: 100%;
  }

  .hero-text-description {
    font-size: 15px;
    width: 100%;
  }

  .hero-search {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .search-input {
    width: 100%;
    border-radius: 8px;
  }

  .search-btn {
    width: 60%;
    border-radius: 8px;
  }

  .hero-image {
    width: 100%;
  }

  .community-logos {
    border: 1px solid black;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 0;
  }

  .inspiration {
    padding: 2rem 3rem;
  }

  .inspiration-title {
    font-size: 30px;
  }

  .inspiration-house-cards {
    justify-content: center;
    gap: 2rem;
  }

  .nfts {
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    padding: 3rem;
  }

  .nfts > div {
    width: 100%;
  }

  .nfts-title {
    font-size: 35px;
  }

  .nfts-description {
    font-size: 14px;
  }

  .nfts-btn {
    font-size: 12px;
  }

  .nfts-image {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .hero {
    padding: 2rem 4rem;
    flex-direction: column;
  }

  .hero-text {
    width: 100%;
  }

  .hero-text-title {
    width: 100%;
  }

  .hero-text-description {
    width: 100%;
  }

  .hero-search {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .search-input {
    width: 60%;
    border-radius: 8px;
  }

  .search-btn {
    width: 30%;
    border-radius: 8px;
  }

  .hero-image {
    width: 100%;
  }

  .community-logos {
    padding: 0.5rem 4rem;
  }

  .inspiration {
    padding: 2rem 4rem;
  }

  .inspiration-title {
    font-size: 35px;
  }

  .inspiration-house-cards {
    justify-content: space-around;
    gap: 4rem;
  }

  .nfts {
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    padding: 4rem;
  }

  .nfts > div {
    width: 100%;
  }

  .nfts-image {
    width: 100%;
  }
}
